#footer
    a(href="./index.html")
        img(src=imgUrl+"home"+(currentId==="index"?"-active":"")+".png", alt="")
    a(href="./mine.html")
        img(src=imgUrl+"mine"+(currentId==="mine"?"-active":"")+".png", alt="")