@import './_config.scss';

#main {
    .i_logo {
        margin-top: 0.2rem;
    }

    .i_select {
        width: 0.31rem;
        height: 0.19rem;
        float: right;
        margin-right: 0.2rem;
        margin-top: 0.3rem;
    }

    .select_dropdown {
        width: 100%;
        position: absolute;
        border: 1px solid #c2cbd9;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        top: 100%;
        left: 0;
        background: #fff;
        z-index: 1;
        display: none;

        li {
            width: 100%;
            height: 0.8rem;
            color: #606266;
            font-size: 0.28rem;
            line-height: 0.8rem;
            text-align: center;
            border-top: 1px solid #c2cad9;

            &:first-child {
                border: none;
            }
        }
    }

    .hidden {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    #submit {
        margin-top: 1rem;
    }
}