@import './_config.scss';

.search::after {
    content: '请搜索藏品';
}

#main {

    width: 6.78rem;
    margin: 0.2rem auto 0 auto;

    #recommend {
        overflow: hidden;
    }

    .navbar {
        border-bottom: solid 0.02rem #dfe3ea;
        margin: 0.36rem 0 0.3rem 0;

        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        background: linear-gradient(to right, white 20px, transparent),
            url('../imgs/next_green.png');
        background-repeat: no-repeat;
        background-size: 0.2rem 0.3rem, auto 0.3rem;
        background-position: right center, right center;
        background-attachment: local, scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            padding: 0 0.22rem;
            font-size: 0.36rem;
            color: #8f99aa;
            text-align: center;
            display: inline-block;
            float: none;

            .next {
                width: 0.2rem;
                height: 0.3rem;
                margin-top: 0.1rem;
            }

            &.active {
                font-weight: bold;
                color: #393a3a;
                border-bottom: 1px solid #3bb7bc;
            }
        }

        a {
            display: block;
        }
    }

    .content {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        display: none;

        .item {
            width: 2.06rem;
            border-radius: 0.05rem;

            h3 {
                font-size: 0.3rem;
                font-weight: normal;
                color: #66758d;
                margin: 0.25rem auto;
                text-align: center;
            }
        }

        img {
            width: 100%;
        }

        &.active {
            display: flex;
        }
    }
}