@import './_config.scss';

body {
    background: none;
}

#main {

    margin-top: 0.2rem;

    .responsive {
        border-radius: 5px;
        margin: 0.17rem 0 0.28rem 0;
    }

    .nav {
        font-size: 0;
        margin-bottom: 0.4rem;
        overflow: hidden;

        li {
            float: left;
            width: 50%;
            box-sizing: border-box;
            padding-left: 0.64rem;

            img {
                width: 0.76rem;
            }

            &:first-child {
                padding-left: 0;
                padding-right: 0.64rem;
                text-align: right;
            }
        }

        a {
            display: block;
        }
    }

    .titlebar {
        overflow: hidden;
        margin-bottom: 0.26rem;

        h2 {
            float: left;
            color: #342924;
            font-size: 0.3rem;
        }

        a {
            float: right;
            font-size: 0.26rem;
            color: #afb9c8;
        }

        img {
            width: 0.12rem;
            height: 0.19rem;
            margin-left: 0.1rem;
            margin-top: 0.08rem;
        }
    }

    .content {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 2.17rem;

            h3 {
                font-size: 0.26rem;
                font-weight: normal;
                color: #66758d;
                margin: 0.23rem auto 0.35rem auto;
                text-align: center;
            }
        }

        a {
            display: block;
        }

        img {
            width: 100%;
            border-radius: 0.05rem;
        }
    }
}