@import './_config.scss';

#main {

    .rolebox {
        width: 6.63rem;
        height: 1.26rem;
        background-color: #ffffff;
        box-shadow: 0rem 0.04rem 0.29rem 0rem rgba(134, 155, 168, 0.24);
        border-radius: 0.1rem;
        border: solid 0.01rem #dee3ea;
        margin: 0 auto;
        margin-top: 0.5rem;
        padding: 0.42rem 0.2rem;
        font-size: 0.26rem;

        img {
            float: left;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
        }

        .des {
            float: left;
            margin-left: 0.26rem;
        }

        .row1 div {
            float: left;
        }

        .name {
            font-size: .3rem;
            font-weight: bold;
        }

        .tag {
            width: 0.6rem;
            height: 0.3rem;
            font-size: 0.18rem;
            border-radius: 20px;
            color: #fff;
            padding: 0.1rem 0.12rem;
            margin-left: 0.08rem;
            text-align: center;
        }

        .yellow {
            background-image: linear-gradient(270deg,
                    #e0a10a 4%,
                    #ce9b21 100%),
                linear-gradient(#ede81b,
                    #ede81b);
        }

        .green {
            background-image: linear-gradient(270deg,
                    #3dbabc 0%,
                    #1283b9 100%),
                linear-gradient(#ede81b,
                    #ede81b);
        }

        .row2 {
            color: #3196d4;
        }

        .row3 {
            color: #8f99aa;
        }
    }

    ul {
        width: 5.65rem;
        margin: 1.2rem auto 0 auto;
    }

    .item {
        width: 5.42rem;
        height: 0.52rem;
        margin: 0 auto;
        border-bottom: 1px solid #c2cad9;
        position: relative;
        margin-top: 0.3rem;

        img {
            float: right;
            width: 0.13rem;
            height: 0.23rem;
        }

        .tel {
            float: right;
            font-size: 0.26rem;
            color: #cf9b20;
        }
    }

    .i_logo {
        float: left;
        width: 0.34rem;
        margin-right: 0.28rem;

        &::after {
            content: '';
            display: block;
            height: 0.52rem;
            background: url($imgUrl+'i-logo.png') no-repeat;
            background-size: 0.34rem 0.34rem;
        }
    }

    span {
        float: left;
        color: #606266;
        font-size: 0.28rem;
    }
}