extends ./share/head.pug

block config
    - var title = '登录';
    - var keywords = '登录';
    - var description = '登录';
    - var currentId = 'login';
    - var pageCss = 'login';
block append body
    body
        img.responsive(src=imgUrl+"banner2.png")
        img.logo(src=imgUrl+"logo.png")
        #main
            form(action="#" method="post")
                .item
                    i.i_phone
                    input#tel.select(placeholder='输入手机号' name="tel")
                .item
                    i.i_msg
                    input#code.select(placeholder='短信验证码' name="code")
                    .code 获取验证码
                input#submit(type="submit" value="登 录")

        script(src=jsUrl+"jquery.js")
        script(src=jsUrl+"base.js")
        script.
            var time = 60;
            $(function(){
                $(".code").click(function(){
                    if(time != 60){
                        return false;
                    }
                    var timer = setInterval(function(){
                        $(".code").text('重新获取('+time+'s)')
                        time--;
                        if(time<0){
                            $(".code").text('获取验证码');
                            clearInterval(timer);
                            time = 60;
                        }
                    },1000);
                })

                $("form").submit(function(e){
                if(!checkMobile($('#tel').val())){
                    alert('请填写正确手机号');
                    return false;
                }
                if($('#tel').val() && $('#code').val()){
                    return true;
                }else{
                    alert('请填写必要参数');
                    return false;
                }
            });
            })